
body
{margin:0px!important;
padding:0px!important;
border:0px!important;

}

.milieu

{margin:120px!important;
}

input, button {
    border: none!important;
    padding: 12px 20px!important;
    color: #bababa!important;
    font-weight: bold!important;
  cursor:pointer;
  border:1px solid #f2f2f2!important;
}

input:hover, button:hover {
border:1px solid #ccc!important;
color:#666666!important;
}

.field-group input
{cursor:auto!important;
border:none!important;
}

.field-group input:hover
{
border:none!important;
}

.manque {
    width: 600px!important;
    border: 1px!important;
    border-color: #bababa!important;
    box-shadow: 2px 2px 5px #bababa!important;
    box-shadow-color: #bababa !important;
    padding: 15px!important;
}

figure img
{
width:auto!important;
height:auto!important;    
align-content: center;
}


figcaption
{
    margin: -30px 0 0 200px!important;
}

footer {
    background: #f2f2f2 !important;
    padding: 20px 0px !important;
    border-top: 1px #ddd solid !important;
    position: absolute !important;
    width: 100% !important;
    bottom: 0px !important;
    margin-left: -10px!important;
}
nav li
{
    padding: 0px 10px!important;

}

nav li a
{
  color:#666666!important;
}

nav:first-child
{
float:left!important;

}

/*end Lorent*/

.haut
{
  display: flex;
  justify-content: flex-end;
} 

a:link
{
    font-family: arial, sans-serif;
    font-size: 90%; 
    text-decoration: none;
    color: #222222;
}

a:hover /* Apparence au survol des liens */
{
   color: #000000;
   text-decoration: underline;
}

a:visited 
{
  text-decoration: none;
  color: #222222
}

.displayed, .boutons
 {
  display: block;
  justify-content:  center;
  font-family: Arial, sans-serif;
  text-align: center;
  color: #4285F4;
  
        }

  .figcaption, 
  {
    display: flex;
    align-items: flex-start
    text-align: right;
    font-family: Arial, sans-serif;
    text-decoration: none;
    color: #4285F4;
    text-decoration: none;
      }
.milieu
{
  flex-direction: column;
  display: flex : 1;
}
.remplissage
{ 
    display: flex;
    margin-top: 300 px;
  }


.field-group {
    display: flex;
    justify-content: center;
    /*margin: 3px 0 12px 0;*/
      margin-bottom:20px;
  margin-top:20px;
    background: transparent !important;
    font-family: Helvetica;
    font-size: 14px;
    margin-bottom:20px;
  margin-top:20px;
    /*color: #bababa;*/

}
.manque
{
  /*min-height: 40 px !important;*/
  /*width:70%;*/
  width:300px;
  border: 1px;
  margin-bottom:10px;
  margin-top:10px;
  border-color:#bababa;
  box-shadow: 2px 2px 5px;
  box-shadow-color: #cbcbcb !important;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.footer
{
height: 50px;
list-style-type: none;
background-color: #f2F2F2;
flex-flow: row wrap;

}
ul { margin:0;
     padding:0;
     list-style-type: none;
     }

.bas_gauche
{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start ;
  align-content: center;
  align-content: space-between;
 

}

.bas_droite
{
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-content: space-between;
}

#container {
    display: none;
    display: flex;
    justify-content: center !important;
    height: 550px;
    border-bottom: 1px solid #dcdcdc;
  }

#display
{
    display: block;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 300px;
}
#display button
{
    font-family: "arial", sans-serif;
    background-color: red;
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    width: 400px;
    height: 300px;
    margin-bottom: 100px;
}
#display button:hover
{
    background-color: red;
    font-size: 13px;
    color: black;
    font-weight: bold;
    border: 1px solid #c6c6c6;
    border-radius: 2px;
    width: 400px;
    height: 300px;

}